/*CSS for the navigation*/
    #navigation {
        top: 0;
        z-index: 10;
        position: sticky;
}

    .navbar-brand {
        height: 50px;
        margin-top: 20px;
        padding-left: 50px;
        margin-bottom: 50px;
    }

    .navbar-brand img {
        border: 5px solid #ffffff;
    }

    /*.navbar-brand img:hover {*/
    /*    border: 1px solid #eeee!important;*/
    /*}*/

    .navbar-nav li {
        padding: 0 10px;
        margin-right: 40px;
        text-transform: uppercase;
        font-weight: 650;
    }

    .navbar-nav li a {
        float: right;
        text-align: left;
        padding: 0 30px;
        font-family: "Century Gothic";
        /*background-color: white;*/
        border-radius: 5%;
        /*border: 2px solid white;*/
        width: fit-content;
    }

    #navigation ul li a:hover {
        /*color: #ff0000!important;*/
        color: #00008b!important;
        /*color: #f5f5f5f5!important;*/
        background-color: #eee!important;

    }

    .navbar-nav {
        /*background-color: white;*/
        border-right: solid 5px red;
    }

    /*.navbar {*/
    /*    background-color: red;*/
    /*}*/

    .navbar-toggler {
        border: none!important;
    }

    /*#arouse_photos button {*/
    /*    background-color: red;*/
    /*}*/

    #arousel_cators .active {
        /*background-color: black!important;*/
    }


    .nav-link {
        color: #000000!important;
        font-size: 20px;
        font-weight: 500;
    }

            /*About section CSS*/

    #about_site {
        padding-top:55px;
        padding-bottom: 55px;
        color: #555555;
    }

    #about_site h2 {
        color: black;
        text-transform: uppercase;
        font-family: "Century Gothic";
        font-weight: 650;
    }

    #about_site h2::after {
        content: '';
        background: #0000ff;
        display: block;
        height: 4px;
        margin-top: 10px;
        margin-left: 35px;
        width: 110px;
    }

    #about_site .btn {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .about_stuff {
        padding-top: 20px;
    }

    .para-bar p {
        margin-bottom: 10px;
        font-weight: 650;
    }

    .progress-bar {
        border-radius: 20px;
    }

    .progress {
        border-radius: 20px!important;
        margin-bottom: 30px;
    }

    #arouse_photos img {
        height: 380px;
        /*padding-top: 20px;*/
        /*margin-bottom: 20px;*/
    }

    @media only screen and (max-width: 800px) {
        /*#arouse_photos img {*/
        /*    height: 300px;*/
        #arouse_photos {
            display: none;
        }
        #about_site .btn {
            margin-bottom: 55px;
        }
        .para-bar p {
            margin-top: 35px;
            padding: 5px
        }
    }

    /*#arouse_photos .carousel-indicators {*/
    /*    background-color: #ff0000!important;    }*/

    #serv_sec {
        background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url(Photos/Web.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #efefef!important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*#serv_sec .col-md-3 {*/
    /*    border: solid 1px white;*/
    /*}*/

    #serv_sec h2 {
        color: ghostwhite;
        /*text-align: center;*/
        text-transform: uppercase;
        font-family: "Century Gothic";
        font-weight: 650;
        padding-top: 10px;
    }

    #serv_sec h2::after {
        content: '';
        background: #0000ff;
        display: block;
        height: 4px;
        margin-top: 10px;
        margin-left: 7%;
        width: 150px;
    }

    .row_serv_sec {
        display: flex;
        padding: 2px;
        margin-top: 30px;
        margin-bottom: 0px;

    }

    @media only screen and (max-width: 800px) {
        .row_serv_sec {
            display: inline;
        }
        #serv_sec h3 {
            font-size: 30px;
        }
    }

    #serv_sec h3 {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #serv_sec p {
        margin-top: 20px;
        font-size: 17px;
    }

    .icon{
        font-size: 50px;
        margin: 20px auto;
        padding: 5px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        width: 90px;
    }

    .row_serv_sec .col-md-3:hover {
        background: #007bff;
        color: black ;
        cursor: pointer;
        transition: 0.8s;
        z-index: 1;
        animation-name: zoomIn;
        animation-duration: 0.8s;
        border: 1px solid white;
    }

/*--------------------------------------Our Clients section CSS-------------------------------------*/

    #our_clients {
        padding-top:55px;
        padding-bottom: 55px;
        /*background-color: lightgrey;*/
    }

    #our_clients h2 {
        color: black;
        text-transform: uppercase;
        font-family: "Century Gothic";
        font-weight: 650;
        padding-bottom: 55px;
    }

    #our_clients h2::after {
        content: '';
        background: #0000ff;
        display: block;
        height: 4px;
        margin-top: 10px;
        margin-left: 7%;
        width: 113px;
    }

    .client-logo {
        margin-top: 25px;
    }

    .client-logo .img-box {
        /*margin-top: 25px;*/
        display: block;
        position: relative;
    }

    .client-logo .img-box img {
        width: 200px;
        /*border: 1px solid black;*/
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;
        padding-bottom: 55px;
    }

/*--------------------------------------Client Testimonials section CSS-------------------------------------*/


    #client_vibe {
        padding-bottom: 55px;
    }

    #client_vibe .row {
        margin-top: 35px;
    }

    #client_vibe .col-md-4 {
        margin: 30px auto;
    }

    #client_vibe .container p {
        padding-top: 15px;
    }

    .pro {
        padding: 30px 10px 20px;
        /*background-color: lightgrey;*/
        border: 1px solid white;
        border-radius: 5%;
        background: #eeeeee;
    }

        .pro:hover {
            box-shadow: 0 0 15px 5px rgba(0,0,1,0.2);
            cursor: pointer;
            transition: 0.5s;
        }

    blockquote {
        /*background-color: lightgray;*/
        font-size: 16px;
        line-height: 30px;
    }

    blockquote::before {
        content: "\201C";
        font-size: 50px;
        color: darkblue;
        position: relative;
        line-height: 20px;
        bottom: -15px;
        right: 5px;
    }

    blockquote::after {
        content: "\201D";
        font-size: 50px;
        color: darkblue;
        position: relative;
        line-height: 20px;
        bottom: -15px;
        left: 5px;
    }

    .pro_pic {
        width:150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .pro img {
        border: 10px solid whitesmoke;
        position: relative;
        /*left: calc(50% - 60px);*/
        text-align: center;
        /*left: calc(50% - 80px);*/
    }

        .pro h5 {
            margin-top: 10px;
            color: darkblue;
            font-size: 12px;
        }

        #client_vibe span {
            font-size: 13px;
            color: black;

        }

        #client_vibe h2 {
            /*text-align: center;*/
            text-transform: uppercase;
            font-family: "Century Gothic";
            font-weight: 650;
            padding-top: 10px;
        }

        #client_vibe h2::after {
            content: '';
            background: #0000ff;
            display: block;
            height: 4px;
            margin-top: 10px;
            margin-left: 7%;
            width: 170px;
            margin-bottom: 30px;
        }




/*--------------------------------------Footer section CSS-------------------------------------*/

    .foot_sec {
        padding-top: 55px;
        /*font-family: sans-serif Poppins;*/
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: #eeeeee;
        position: relative;
        flex-wrap: wrap;
        font-family: "Century Gothic";
    }

    .foot_sec .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 5px;
    }

    .foot_sec .container .foot_abt {
        margin-left: 20px;
    }

    .foot_sec h5 {
        position: relative;
        color: blue;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 17px;
    }

        .foot_sec h5:before {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 45px;
            height: 3px;
            left: 32px;
            background:#00008b;
        }

    .foot_sec p {
        color: #000000;
    }

    .foot_sec p span {
        color: red;
    }

    .foot_abt {
        font-size: 15px;
        font-weight: 650;
        width: 35%;
    }

    .lst_inks {
        margin-top: 30px;
        display: flex;
        padding-bottom: 30px;
    }

    .lst_inks li {
        list-style: none;
    }

    .lst_inks li a {
        display: inline-block;
        width: 25px;
        height: 30px;
        /*background: #222;*/
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        border-radius: 5px;
        /*border: 1px solid #00008b;*/
        font-size: 20px;
        text-align: center;
        color: blue;
    }

    .lst_inks li a:hover {
        background-color: white;
        border-radius: 50%;
        color: darkblue;
        height: 40px;
        width: 40px;
        font-size: 25px;
    }

    .foot_links h5 {
            position: relative;
            color: blue;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 17px;
        }

        .foot_links h5:before {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 70px;
            height: 3px;
            left: 32px;
            background:#00008b;
        }

        .foot_links {
            position: relative;
            width: 20%;
        }

        .foot_links ul li {
            list-style: none;
        }

        .foot_links ul li a {
            text-decoration: none;
            margin-bottom: 15px;
            display: inline-block;
            color: black;
            font-weight: 650;
            text-transform: uppercase;
        }

        .foot_links ul li a:hover {
            color: darkblue;
        }

        .foot_cont {
            width: calc(40% - 55px);
            margin-right: 0 !important;
            /*flex-basis: 14%;*/
        }

        .foot_cont h5{
            position: relative;
            color: blue;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 17px;
        }

        .foot_cont h5:before {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 70px;
            height: 3px;
            left: 32px;
            background:#00008b;
        }

        .foot_cont .find_info {
            position: relative;
        }

        .foot_cont .find_info li {
            display: flex;
            margin-bottom: 20px;
        }

        .foot_cont .find_info li span:nth-child(1) {
            font-size: 20px;
            color: blue;
            margin-right: 15px;
        }

        .foot_cont .find_info li span {
            font-weight: 650;
        }

        .foot_cont .find_info li a {
            font-weight: 650;
            color: black;
            text-decoration: none;
            list-style: none;
        }

        .foot_copy span {
            color: red;
        }

        .foot_copy p {
            width: 100%;
            padding: 10px 100px;
            text-align: center;
            margin-top: 20px;
            font-size: 15px;
            background-color: black;
            color: white;
        }

        @media (max-width: 1000px) {
            .foot_sec {
                padding: 50px;
                width: 100%;
            }
            .foot_sec .container {
                flex-direction: column;
            }
            .foot_sec .container .lst_inks {
                margin-right: 0;
                margin-bottom: 40px;
            }
            .foot_copy p {
                width: 100%;
                padding: 8px 40px;
                background-color: darkblue;
            }
            .foot_abt {
                width: 100%;
            }
            .lst_inks li {
                /*margin-right: 50px;*/
                width: fit-content;
                margin-right: 0;
                padding-top: 15px;
            }

            .lst_inks {
                /*margin-right: 50px;*/
                width: fit-content;
                display: block;

            }

            .foot_links, .foot_cont, .lst_inks  {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 25px;
            }
        }



